---
import BaseLayout from "src/layouts/BaseLayout.astro";
import PageHeader from "@components/PageHeader.astro";
import CTA from "@components/CTA.astro";
import FAQ from "@components/FAQ.astro";
import ReviewsPreview from "@components/ReviewsPreview.astro";
import GalleryPreview from "@components/GalleryPreview.astro";
import ContactForm from "@components/ContactForm.astro";
---

<BaseLayout
  preloadImg="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1715741400/High%20Desert%20Renovation/Resize_Image_Tool_2_rnvitk.webp"
>
  <PageHeader
    heading="Our Services"
    alt="man with tools at a workstation"
    imageUrl={{
      desktop:
        "https://res.cloudinary.com/dxvvbtwxg/image/upload/v1715741400/High%20Desert%20Renovation/Resize_Image_Tool_2_rnvitk.webp",
      mobile:
        "https://res.cloudinary.com/dxvvbtwxg/image/upload/v1715741399/High%20Desert%20Renovation/Resize_Image_Tool_3_i6m8yw.webp",
    }}
  />
  <!-- ============================================ -->
  <!--                  Services                    -->
  <!-- ============================================ -->

  <section id="services-1628">
    <div class="cs-container">
      <div class="cs-content">
        <div class="cs-flex">
          <span class="cs-topper">Our Services</span>
          <h2 class="cs-title">
            Home Renovation Services In the Treasure Valley
          </h2>
        </div>
        <p class="cs-text">
          High Desert Renovations offers a wide range of professional services
          to meet all your construction and renovation needs in the Treasure
          Valley. From home renovations and remodeling to general contracting
          and drywall services, we are dedicated to delivering exceptional
          results for homeowners in Caldwell, Nampa, Meridian, Star, Kuna,
          Boise, Emmett, and Garden City. Our skilled team ensures every project
          is completed with the highest standards of quality and craftsmanship.
        </p>
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <a href="/services/renovations-additions" class="cs-link">
            <picture class="cs-picture">
              <!--Mobile Image-->
              <source
                media="(max-width: 600px)"
                srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1717044524/High%20Desert%20Renovation/Bathroom_Interior_Photo_s7yprg.jpg"
              />
              <!--Tablet and above Image-->
              <source
                media="(min-width: 601px)"
                srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1717044524/High%20Desert%20Renovation/Bathroom_Interior_Photo_s7yprg.jpg"
              />
              <img
                loading="lazy"
                decoding="async"
                src="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1717044524/High%20Desert%20Renovation/Bathroom_Interior_Photo_s7yprg.jpg"
                alt="updated bathroom with free standing tub"
                width="413"
                height="420"
              />
            </picture>
            <h3 class="cs-h3">Renovations & Additions</h3>
            <p class="cs-item-text">
              Kitchen and bathroom renovations or new additions to your home
            </p>
            <span class="cs-fake-link">
              Learn More
              <img
                class="cs-icon"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg"
                alt=""
                width="20"
                height="20"
                loading="lazy"
                decoding="async"
                aria-hidden="true"
                aria-roledescription="decorative"
              />
            </span>
          </a>
        </li>
        <li class="cs-item">
          <a href="/services/framing-structural" class="cs-link">
            <picture class="cs-picture">
              <!--Mobile Image-->
              <source
                media="(max-width: 600px)"
                srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1717044525/High%20Desert%20Renovation/Men_standing_construction_wmjrge.jpg"
              />
              <!--Tablet and above Image-->
              <source
                media="(min-width: 601px)"
                srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1717044525/High%20Desert%20Renovation/Men_standing_construction_wmjrge.jpg"
              />
              <img
                loading="lazy"
                decoding="async"
                src="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1717044525/High%20Desert%20Renovation/Men_standing_construction_wmjrge.jpg"
                alt="men holding plywood"
                width="413"
                height="420"
              />
            </picture>
            <h3 class="cs-h3">Framing & Structural</h3>
            <p class="cs-item-text">
              Professional framing and structural construction services
            </p>
            <span class="cs-fake-link">
              Learn More
              <img
                class="cs-icon"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg"
                alt=""
                width="20"
                height="20"
                loading="lazy"
                decoding="async"
                aria-hidden="true"
                aria-roledescription="decorative"
              />
            </span>
          </a>
        </li>
        <li class="cs-item">
          <a href="/services/general-contractor" class="cs-link">
            <picture class="cs-picture">
              <!--Mobile Image-->
              <source
                media="(max-width: 600px)"
                srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1716325546/High%20Desert%20Renovation/Construction_Team_qxksgs.jpg"
              />
              <!--Tablet and above Image-->
              <source
                media="(min-width: 601px)"
                srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1716325546/High%20Desert%20Renovation/Construction_Team_qxksgs.jpg"
              />
              <img
                loading="lazy"
                decoding="async"
                src="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1716325546/High%20Desert%20Renovation/Construction_Team_qxksgs.jpg"
                alt="contractors talking over a table with plans"
                width="413"
                height="420"
              />
            </picture>
            <h3 class="cs-h3">General Contractor</h3>
            <p class="cs-item-text">
              General contracting services for residential construction projects
            </p>
            <span class="cs-fake-link">
              Learn More
              <img
                class="cs-icon"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg"
                alt=""
                width="20"
                height="20"
                loading="lazy"
                decoding="async"
                aria-hidden="true"
                aria-roledescription="decorative"
              />
            </span>
          </a>
        </li>
        <li class="cs-item">
          <a href="/services/painting-drywall" class="cs-link">
            <picture class="cs-picture">
              <!--Mobile Image-->
              <source
                media="(max-width: 600px)"
                srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1717044178/High%20Desert%20Renovation/Man_Painting_Wall_olfbiy.webp"
              />
              <!--Tablet and above Image-->
              <source
                media="(min-width: 601px)"
                srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1717044178/High%20Desert%20Renovation/Man_Painting_Wall_olfbiy.webp"
              />
              <img
                loading="lazy"
                decoding="async"
                src="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1717044178/High%20Desert%20Renovation/Man_Painting_Wall_olfbiy.webp"
                alt="man painting a room"
                width="413"
                height="420"
              />
            </picture>
            <h3 class="cs-h3">Painting & Drywall</h3>
            <p class="cs-item-text">
              Professional, high quality interior and exterior painting and
              drywall services
            </p>
            <span class="cs-fake-link">
              Learn More
              <img
                class="cs-icon"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg"
                alt=""
                width="20"
                aria-role="decorative"
                height="20"
                loading="lazy"
                decoding="async"
                aria-hidden="true"
              />
            </span>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <!-- ============================================ -->
  <!--                Side By Side                  -->
  <!-- ============================================ -->

  <section id="sbs-1598">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">Trusted in the Treasure Valley</span>
        <h2 class="cs-title">Commitment to Quality and Craftsmanship</h2>
        <p class="cs-text">
          At High Desert Renovations, our commitment to quality is unmatched. We
          believe that every project, no matter the size, deserves the highest
          level of craftsmanship and attention to detail. Our skilled team uses
          only the best materials and the latest techniques to ensure that your
          home improvements are built to last.
        </p>
        <p class="cs-text">
          From initial consultation to project completion, we work closely with
          you to understand your vision and bring it to life. Our goal is to
          exceed your expectations with superior results that enhance both the
          functionality and aesthetics of your home.
        </p>
        <picture class="cs-picture cs-picture1">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1717047491/High%20Desert%20Renovation/Kitchen_Dining_Area_Photo_ooyyre.jpg"
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1717047491/High%20Desert%20Renovation/Kitchen_Dining_Area_Photo_ooyyre.jpg"
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1717047491/High%20Desert%20Renovation/Kitchen_Dining_Area_Photo_ooyyre.jpg"
            alt="moderni kitchen with marble"
            width="608"
            height="406"
          />
        </picture>
      </div>
      <div class="cs-stats-group">
        <div class="img-highlight"></div>
        <picture class="cs-picture cs-picture2">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1717047490/High%20Desert%20Renovation/Measuring_Cabinet_Man_jork5h.jpg"
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1717047490/High%20Desert%20Renovation/Measuring_Cabinet_Man_jork5h.jpg"
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1717047490/High%20Desert%20Renovation/Measuring_Cabinet_Man_jork5h.jpg"
            alt="people inspecting a cabinet"
            width="608"
            height="662"
          />
        </picture>
      </div>
    </div>
  </section>

  <!-- ============================================ -->
  <!--            Side By Side Reverse              -->
  <!-- ============================================ -->

  <section id="sbsr-1599">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">Customer Centric Approach</span>
        <h2 class="cs-title">Putting Our Customers First, Always</h2>
        <p class="cs-text">
          Your satisfaction is our top priority. We pride ourselves on clear and
          open communication throughout the entire project. Our team is
          dedicated to providing a seamless and stress-free experience, keeping
          you informed and involved every step of the way.
        </p>
        <p class="cs-text">
          As a local business, we understand the unique needs of homeowners in
          the Treasure Valley. We are committed to building lasting
          relationships with our clients by delivering exceptional service and
          results that stand the test of time.
        </p>
        <picture class="cs-picture cs-picture1">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1717047491/High%20Desert%20Renovation/Anonymous_man_installing_window_n18jwz.jpg"
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1717047491/High%20Desert%20Renovation/Anonymous_man_installing_window_n18jwz.jpg"
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1717047491/High%20Desert%20Renovation/Anonymous_man_installing_window_n18jwz.jpg"
            alt="man drilling a hinge"
            width="608"
            height="406"
          />
        </picture>
      </div>
      <div class="cs-stats-group">
        <div class="img-highlight"></div>

        <picture class="cs-picture cs-picture2">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1717047490/High%20Desert%20Renovation/House_Interior_Inspection_ypnqbs.jpg"
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1717047490/High%20Desert%20Renovation/House_Interior_Inspection_ypnqbs.jpg"
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://res.cloudinary.com/dxvvbtwxg/image/upload/v1717047490/High%20Desert%20Renovation/House_Interior_Inspection_ypnqbs.jpg"
            alt="man inspecting a home"
            width="608"
            height="662"
          />
        </picture>
      </div>
    </div>
  </section>
  <ReviewsPreview />
  <GalleryPreview />
  <FAQ />
  <CTA />
  <ContactForm />
</BaseLayout>

<style lang="less">
  /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #services-1628 {
      padding: var(--sectionPadding);
      background-color: #f7f7f7;

      .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: (550/16em);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
      }

      .cs-title {
        max-width: 20ch;
      }

      .cs-text {
        max-width: (640/16rem);
        position: relative;
        z-index: 1;

        &:after {
          /* divider line */
          content: "";
          width: 100%;
          height: 1px;
          margin-top: (24/16rem);
          background: var(--primary);
          opacity: 1;
          display: block;
          position: relative;
        }
      }

      .cs-chevron {
        --chevronColor: var(--primary);

        width: (48/16rem);
        height: auto;
      }

      .cs-card-group {
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        /* 16px - 20px */
        column-gap: clamp(1rem, 2.5vw, 1.25rem);
        /* 28px - 40px */
        row-gap: clamp(1.75rem, 2.5vw, 2.5rem);
      }

      .cs-item {
        list-style: none;
        width: 100%;
        display: flex;
        grid-column: span 12;
        flex-direction: column;
        align-items: flex-start;

        &:hover {
          .cs-picture {
            img {
              opacity: 0.5;
              transform: scale(1.2);
            }
          }
        }
      }

      .cs-link {
        text-decoration: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .cs-picture {
        width: 100%;
        height: (240/16rem);
        margin-bottom: (24/16rem);
        background-color: #000;
        overflow: hidden;
        display: block;
        position: relative;

        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition:
            transform 0.6s,
            opacity 0.3s;
        }
      }

      .cs-h3 {
        font-size: (20/16rem);
        line-height: 1.2em;
        font-weight: 700;
        text-align: left;
        margin: 0 0 (12/16rem) 0;
        color: var(--headerColor);
      }

      .cs-item-text {
        font-size: (16/16rem);
        line-height: 1.5em;
        text-align: left;
        margin: 0 0 (24/16rem) 0;
        color: var(--bodyTextColor);
      }

      .cs-fake-link {
        font-size: (16/16rem);
        line-height: 1.2em;
        font-weight: 700;
        margin: 0;
        margin-top: auto;
        color: var(--primary);
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        gap: (8/16rem);

        &:hover {
          .cs-icon {
            transform: translateX(0.5rem);
          }
        }
      }

      .cs-icon {
        width: (20/16rem);
        height: auto;
        display: block;
        transition: transform 0.3s;
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #services-1628 {
      .cs-container {
        max-width: (1280/16rem);
      }

      .cs-content {
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .cs-flex {
        text-align: left;
        width: 40vw;
        max-width: (640/16rem);
        flex: none;
      }

      .cs-title {
        margin: 0;
      }

      .cs-text {
        padding: (12/16rem) 0 (12/16rem) (24/16rem);

        &:after {
          width: 1px;
          height: 100%;
          margin: 0 (24/16rem) 0 0;
          order: -1;
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      .cs-item {
        grid-column: span 6;
      }

      .cs-picture {
        /* 240px - 420px */
        height: clamp(15rem, 33vw, 26.25rem);
      }
    }
  }

  /* Large Desktop - 1300px */
  @media only screen and (min-width: 81.25rem) {
    #services-1628 {
      .cs-item {
        grid-column: span 3;
      }
    }
  }
  /*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #sbs-1598 {
      padding: var(--sectionPadding);
      padding-top: clamp(12.5rem, 31.95vw, 18.75rem);

      .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: (584/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
      }

      .cs-text {
        margin-bottom: (16/16rem);
        &:last-of-type {
          margin-bottom: (32/16rem);
        }
      }

      .cs-picture {
        width: 100%;
        display: block;
        position: relative;
        z-index: 1;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-picture1 {
        height: 95vw;
        max-height: (400/16rem);
      }

      .cs-picture2 {
        height: 111vw;
        max-height: (500/16rem);
      }

      .cs-stats-group {
        width: 100%;
        position: relative;
      }

      .img-highlight {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--primary);
        left: 1.5rem;
        top: 1.5rem;
      }

      .cs-stats {
        width: 100%;
        max-width: (630/16rem);
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        row-gap: (24/16rem);
        column-gap: (12/16rem);
      }

      .cs-stat {
        list-style: none;
        margin: 0;
        padding: 0 0 (24/16rem) 0;
        border-bottom: 1px solid var(--primary);
        /* making flex so we can align a heading with 1 line to the bottom */
        display: flex;
        grid-column: span 4;
        flex-direction: column;
        align-self: stretch;
        align-content: space-between;
      }

      .cs-number {
        /* 31px - 39px */
        font-size: clamp(1.9375rem, 3vw, 2.4375rem);
        line-height: 1.2em;
        font-weight: 700;
        text-align: left;
        color: var(--headerColor);
        display: block;
        margin: 0 0 (4/16rem) 0;
      }

      .cs-desc {
        font-size: (16/16rem);
        line-height: 1.5em;
        font-weight: 400;
        text-align: left;
        /* auto margin top will push text to bottom if there's only one line */
        margin: 0;
        color: var(--bodyTextColor);
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #sbs-1598 {
      .cs-container {
        max-width: (1280/16rem);
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
      }

      .cs-picture1 {
        /* 340px - 460px */
        min-height: clamp(21.25rem, 35vw, 28.75rem);
        height: 100%;
        max-height: 100%;
      }

      .cs-picture2 {
        /* 530px - 660px */
        min-height: clamp(33.125rem, 45vw, 41.25rem);
        height: 100%;
        max-height: 100%;
      }
    }
  }

  /*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #sbsr-1599 {
      background-color: var(--bodyColorAlt);
      padding: var(--sectionPadding);

      .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: (584/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
      }

      .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: (4/16rem);
        display: block;
      }

      .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        max-width: (700/16rem);
        margin: 0 0 (16/16rem) 0;
        color: var(--headerColor);
        position: relative;
      }

      .cs-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: (650/16rem);
        margin: 0;
        color: var(--bodyTextColor);
      }

      .cs-text {
        /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
        margin-bottom: (16/16rem);
        &:last-of-type {
          margin-bottom: (32/16rem);
        }
      }

      .cs-picture {
        width: 100%;
        display: block;
        position: relative;
        z-index: 1;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-picture1 {
        height: 95vw;
        max-height: (400/16rem);
      }

      .cs-picture2 {
        height: 111vw;
        max-height: (500/16rem);
      }

      .cs-stats-group {
        width: 100%;
        position: relative;
      }

      .img-highlight {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--primary);
        right: 1.5rem;
        top: 1.5rem;
      }

      .cs-stats {
        width: 100%;
        max-width: (630/16rem);
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        row-gap: (24/16rem);
        column-gap: (12/16rem);
      }

      .cs-stat {
        list-style: none;
        margin: 0;
        padding: 0 0 (24/16rem) 0;
        border-bottom: 1px solid var(--primary);
        /* making flex so we can align a heading with 1 line to the bottom */
        display: flex;
        grid-column: span 4;
        flex-direction: column;
        align-self: stretch;
        align-content: space-between;
      }

      .cs-number {
        /* 31px - 39px */
        font-size: clamp(1.9375rem, 3vw, 2.4375rem);
        line-height: 1.2em;
        font-weight: 700;
        text-align: left;
        color: var(--headerColor);
        display: block;
        margin: 0 0 (4/16rem) 0;
      }

      .cs-desc {
        font-size: (16/16rem);
        line-height: 1.5em;
        font-weight: 400;
        text-align: left;
        /* auto margin top will push text to bottom if there's only one line */
        margin: 0;
        color: var(--bodyTextColor);
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #sbsr-1599 {
      .cs-container {
        max-width: (1280/16rem);
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
      }

      .cs-content {
        /* sends it to the right in the 2nd position */
        order: 2;
      }

      .cs-picture1 {
        /* 340px - 460px */
        min-height: clamp(21.25rem, 35vw, 28.75rem);
        height: 100%;
        max-height: 100%;
      }

      .cs-picture2 {
        /* 530px - 660px */
        min-height: clamp(33.125rem, 45vw, 41.25rem);
        height: 100%;
        max-height: 100%;
      }
    }
  }
</style>
