---
import BaseLayout from "src/layouts/BaseLayout.astro";
import PageHeader from "@components/PageHeader.astro";
import CTA from "@components/CTA.astro";
import ReviewsPreview from "@components/ReviewsPreview.astro";
import ContactForm from "@components/ContactForm.astro";
---

<BaseLayout title="Frequently Asked Questions">
  <PageHeader
    imageUrl={{
      desktop:
        "https://res.cloudinary.com/dxvvbtwxg/image/upload/v1716996725/Table_tools_photo_eqlapu.webp",
      mobile:
        "https://res.cloudinary.com/dxvvbtwxg/image/upload/v1716996725/Table_tools_photo_1_lmgm8q.webp",
    }}
    heading="FAQs"
  />
  <!-- ============================================ --><!--                    FAQ                       --><!-- ============================================ -->
  <section id="faq-1108">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">FAQ’s</span>
        <h2 class="cs-title">Frequently Asked Questions</h2>
      </div>
      <div class="cs-flex-group">
        <ul class="cs-faq-group">
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text"> What is your service area? </span>
            </button>
            <p class="cs-item-p">
              We service a 60 mile radius from Caldwell, Idaho. We primarily
              operate in Nampa, Caldwell, Meridian, Boise, Garden City, Kuna,
              Eagle, Star, and Emmett.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text"> Are you insured? </span>
            </button>
            <p class="cs-item-p">
              Yes, we carry general liability (GL) insurance, workers
              compensation (workers comp) insurance and commercial auto.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                How long does it take to get an estimate?
              </span>
            </button>
            <p class="cs-item-p">
              Our goal is to be on-site for a consult either the same day or
              within 48 hours pending geographic location. Written estimates are
              provided for all work.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Who will be coming out to give the estimate?
              </span>
            </button>
            <p class="cs-item-p">
              One of our qualified sales representatives or the owner.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                How long is an estimate good for?
              </span>
            </button>
            <p class="cs-item-p">
              Generally we hold prices for 30 days. When the markets are
              volatile, sometimes we can only hold prices for a week.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text"> Do you offer financing? </span>
            </button>
            <p class="cs-item-p">
              We do offer financing – we partner with Synchrony Financial. Click
              <a rel="noopener noreferrer" target="_blank" href="">here</a> for information
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Will I Be Disrupted While You Work?
              </span>
            </button>
            <p class="cs-item-p">
              As a client, you want to ensure you’re able to go about your daily
              life or work uninterrupted while we complete your project. Confirm
              that your contractor won’t distract you with excessive noise or
              physical blockages before you agree to hire them. However, be
              aware that many contractors charge extra to work at odd hours to
              limit disruption. Fortunately, High Desert Renovations offers
              distraction-free services at no extra charge.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Do You Provide Maintenance Services Once the Project is
                Complete?
              </span>
            </button>
            <p class="cs-item-p">
              No one likes a company that doesn’t hold itself accountable for
              the quality of its work. However, the reality is not all
              organizations take steps to quality-control their services. Ask
              your contractor if they do routine maintenance on their projects
              after they’re complete, or if they just ride off into the sunset
              without so much as a glance back. If they don’t provide routine
              service, remember that High Desert Renovations is continually
              performing routine maintenance for our loyal customers. We take
              care of you, even after the project is “done.”
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                How much does it cost for a remodel?
              </span>
            </button>
            <p class="cs-item-p">
              Cost varies from project to project and can be influenced by
              numerous factors. Consequently, you’ll have to speak with your
              contractor to determine the budget of your specific contracting
              needs. What’s important when figuring the cost of a project is
              open, honest communication. At High Desert Renovations, we work
              with every client to create the most cost-effective budget
              possible, and we always work within that budget to deliver
              high-quality results.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text"> What permits will I need? </span>
            </button>
            <p class="cs-item-p">
              A trustworthy contractor will make sure you get the permits you
              need to complete your desired project. Check with your potential
              contractor to ensure they’ve done their due diligence and that
              you’re within the regulations of your city, state, neighborhood,
              etc. We will make sure your project conforms to all regulatory
              requirements so that the project runs smoothly and on time.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">What about lead paint ?</span>
            </button>
            <p class="cs-item-p">
              Any home constructed prior to 1978 falls under the federal RRP
              rule. It is enforced at the federal level. Idaho enforces it at
              the state level as well. We are licensed to comply with all
              federal and state requirements.
            </p>
          </li>
        </ul>
        <ul class="cs-faq-group">
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Can I get a drawing of the project?
              </span>
            </button>
            <p class="cs-item-p">
              Yes, 2D and/or 3D drawings provided upon request as part of our
              design services.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                How do you handle the dirty work?
              </span>
            </button>
            <p class="cs-item-p">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit
              convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin
              diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta
              enim, magna urna, quam.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                What professional certifications you have?
              </span>
            </button>
            <p class="cs-item-p">
              We aim to leave the job site cleaner than when we arrived. Of
              course, what we do can be dirty. We tarp our work area, broom
              sweep and magnetic broom sweep the work area to get any possible
              debris. We also provide porta potties where applicable.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text"> How do you handle over runs? </span>
            </button>
            <p class="cs-item-p">
              With any remodeling project, you can’t see everything until
              exposed. We over- communicate every exception we see and involve
              you in the process and solution. Any changes are discussed prior
              and agreed upon by you prior to us taking any action.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text"> Do you use sub-contractors? </span>
            </button>
            <p class="cs-item-p">
              Sometimes we do but almost all of our subcontractors have been
              part of our company for many many years.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Do you have pictures of previous jobs?
              </span>
            </button>
            <p class="cs-item-p">
              Absolutely! We pride ourselves on our quality work, and you can
              see more by visiting our portfolio <a href="/our-work">here</a>
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Does every remodeling job need a permit?
              </span>
            </button>
            <p class="cs-item-p">
              Building codes have been established by most cities, towns and
              countries. They vary considerably from one jurisdiction to
              another. A building permit generally is required whenever
              structural work is involved or when the basic living area of the
              home is to be changed. A professional who works in your city or
              town every day will know the local requirements.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                What is difference between big box stores and remodelers?
              </span>
            </button>
            <p class="cs-item-p">
              Quite a bit! Basically you get what you pay for. Most times same
              brand name products are a lower quality even though they have the
              same brand name at big box stores. Every situation is different,
              so it’s important to carefully compare estimates from each of
              these types of companies.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Why is it when I get three different estimates that the prices
                are so different?
              </span>
            </button>
            <p class="cs-item-p">
              Many factors go into pricing a remodeling job. The most obvious is
              making sure all estimates have the same materials and scope of
              work. If you cannot understand all the information, go back and
              ask the contractor for clarification. If you cannot get
              satisfactory written results, eliminate that contractor from
              future bidding. Quality of work is hard to show in a written
              estimate and is also a factor in costs. This part of the cost
              difference is usually only confirmed by calling references and/or
              visiting jobs the contractor has completed. Check references for
              work completed years ago to see how their works stands up to the
              test of time. When a contractor carries all the proper and
              required licenses and insurances, his prices will be higher than a
              “Chuck in a Truck” or “fly by night” contractor.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                What if I need to get in touch with you while my project is in
                progress (or after hours) ?
              </span>
            </button>
            <p class="cs-item-p">
              We give you our cell phone numbers before we start work so that
              you have a direct line to us in case of any emergencies.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Are liens out on my property while work is in progress ?
              </span>
            </button>
            <p class="cs-item-p">
              Not for residential projects but in some commercial projects, we
              are required to.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <ReviewsPreview />
  <CTA />
  <ContactForm />
</BaseLayout>

<style lang="less">
  /*-- -------------------------- -->
  <---            FAQ             -->
  <--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #faq-1108 {
      padding: var(--sectionPadding);
      position: relative;

      .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: (584/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: (12/16rem);
      }

      .cs-flex-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: (12/16rem);
      }

      .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        // width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
      }

      .cs-title {
        /* 32px - 48px */
        margin: 0 0 clamp(2rem, 5vw, 3rem);
      }

      .cs-picture {
        width: 100%;
        /* 360px - 400px */
        height: clamp(22.5rem, 54vw, 25rem);
        display: block;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .cs-faq-group {
        width: 100%;
        max-width: (650/16rem);
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: (12/16rem);
      }

      .cs-faq-item {
        list-style: none;
        width: 100%;
        background-color: #f7f7f7;
        /* clips all corners of the button that overlap the rounded border */
        overflow: hidden;
        transition: border-bottom 0.3s;

        &.active {
          .cs-button {
            color: var(--primary);
            &:before {
              background-color: var(--primary);
              transform: rotate(315deg);
            }
            &:after {
              background-color: var(--primary);
              transform: rotate(-315deg);
            }
          }
          .cs-item-p {
            height: auto;
            /* 20px - 24px bottom */
            /* 16px - 24px left & right */
            padding: 0 clamp(1rem, 2vw, 1.5rem) clamp(1.25rem, 1.3vw, 1.5rem);
            opacity: 1;
          }
        }
      }

      .cs-button {
        /* 16px - 20px */
        font-size: clamp(1rem, 2.5vw, 1.25rem);
        line-height: 1.2em;
        text-align: left;
        font-weight: bold;
        /* 20px - 24px */
        padding: clamp(1.25rem, 2vw, 1.5rem);
        background-color: #f7f7f7;
        border: none;
        color: var(--headerColor);
        display: block;
        width: 100%;
        position: relative;
        transition:
          background-color 0.3s,
          color 0.3s;

        &:hover {
          cursor: pointer;
        }

        &:before {
          /* left line */
          content: "";
          width: (8/16rem);
          height: (2/16rem);
          background-color: var(--headerColor);
          opacity: 1;
          border-radius: 50%;
          position: absolute;
          display: block;
          top: 50%;
          right: (24/16rem);
          transform: rotate(45deg);
          /* animate the transform from the left side of the x axis, and the center of the y */
          transform-origin: left center;
          transition: transform 0.5s;
        }

        &:after {
          /* right line */
          content: "";
          width: (8/16rem);
          height: (2/16rem);
          background-color: var(--headerColor);
          opacity: 1;
          border-radius: 50%;
          position: absolute;
          display: block;
          top: 50%;
          right: (21/16rem);
          transform: rotate(-45deg);
          /* animate the transform from the right side of the x axis, and the center of the y */
          transform-origin: right center;
          transition: transform 0.5s;
        }
      }

      .cs-button-text {
        width: 80%;
        display: block;
      }

      .cs-item-p {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        width: 90%;
        height: 0;
        margin: 0;
        /* 16px - 24px */
        padding: 0 clamp(1rem, 2vw, 1.5rem);
        opacity: 0;
        color: var(--bodyTextColor);
        /* clips the text so it doesn't show up */
        overflow: hidden;
        transition:
          opacity 0.3s,
          padding-bottom 0.3s;
      }
    }
  }

  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #faq-1108 {
      .cs-container {
        max-width: (1280/16rem);
      }

      .cs-flex-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: clamp(2rem, 6vw, 3rem);
      }

      .cs-content {
        width: 100%;
        // text-align: left;
        // align-items: flex-start;
        /* prevents flexbox from squishing it */
        flex: none;
      }
    }
  }
</style>

<script>
  const faqItems = Array.from(document.querySelectorAll(".cs-faq-item"));
  for (const item of faqItems) {
    const onClick = () => {
      item.classList.toggle("active");
    };
    item.addEventListener("click", onClick);
  }
</script>
